html {
  font-size: 18px;
}

body {
  text-align: center;
  background: #C0C0C0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  background: #C0C0C0;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#img-div {
  background: rgb(51, 68, 78);
  padding: 10px;
  border-radius: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  text-align: left;
  max-width: 550px;
  line-height: 1.6;
  margin: 0 auto 50px auto;
}